.header
{   height:95vh;
    position:relative;
    background-image:linear-gradient(to right bottom,rgba($color-primary-light, 0.836),rgba($color-primary-dark, 0.829)),url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0 ,100% 0,100% 75vh,0% 100%);
    @include respond(phone)
    {
        clip-path: polygon(0 0 ,100% 0,100% 85vh,0% 100%);
    }
    &__logo
    {
    height: 3.5rem;

    }
    &__logo-box
    {
        position: absolute;
        top:4rem;
        left:4rem;
    }
    &__text-box
{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    

}

}
.heading-secondary
{
    font-size:3.5rem;
    font-weight:700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    @include respond(tab-port)
    {
        font-size: 2.5rem;
    } 
    @include respond(phone)
    {
        font-size:2rem;
    }
    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow:.5rem 1rem 2rem rgba($color: black, $alpha: 0.2); 
    }
    
}