*,
*::after,
*::before
{
    padding:0;
    margin:0;
    box-sizing: inherit;  /*to include padding,margin within content*/

}
html
{
    font-size:62.5%;
    box-sizing:border-box;
}
body
{
    padding:3rem;
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight:400;
    color:$color-grey;
    position: relative;    

}